body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: darkblue;
}

main {

    background-color: white;
}


nav {
    background-color: black;
    border-radius: 50px;
    height: 4rem;
    color: white;
    margin-top: 2em;
    align-content: space-between;
}
